<label for="key">Google Api Key:</label>
<input type="text" [value]="tentativeApiKey$ | async" (change)="onApiKeyChange($event)" >
<button (click)="onKeySubmit()">Load!</button>

<hr/>

<byte-this-google-font-selector-input
  [google-api-key]="apiKey$ | async"
  value="Courier New"
  (change)="onFontChange($event)"
></byte-this-google-font-selector-input>
<p>The currently selected font is {{ selectedFont$ | async }}. We can use this paragraph to ensure the selection overlay does not shift
  the elements under it.
</p>